---
import "../styles/global.css";
---

<style>
    .image-for-background {
        position: relative;
        min-height: 60vh;
    }
    .background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('https://intergreat-center.com/wp-content/uploads/2023/08/IMG-20220802-WA0010-900x682.jpg') center center/cover no-repeat;
        filter: brightness(0.5);
        z-index: -1;
    }
</style>

<div class="image-for-background">
    <div class="background-image"></div>
    <h2 class="accent-light">
        Daily Integration Center for Travellers Through the Balkans
    </h2>
    <p class="bg-light">
        Establishing a res ource integration centre for asylum seekers and
        people traveling true the Balkan route in Bosnia and Herzegovina, the
        Daily Integration Center-Intergreat is providing urgent help for people
        outside reception centres as well as long term and systematic assistance
        true an integration program.
    </p>
</div>
